<div class="row">
  <div class="input-group">
    <span class="input-group-addon">Title</span>
    <input type="text" class="form-control" placeholder="{{story.title}}">
  </div>

  <div class="input-group input-group--editor-container">
    <div class="asset-category-container">
      <ng-asset-category-viewer></ng-asset-category-viewer>
    </div>
    <div class="canvas-editor-container">
      <ng-canvas-editor></ng-canvas-editor>
    </div>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Storyline</span>
    <textarea type="text" class="form-control form-control--textarea" placeholder="{{story.storyline}}"></textarea>
  </div>
  <hr/>
  <button type="button" class="btn btn-default btn-md pull-left">
    <span class="glyphicon glyphicon-trash"></span> Back
  </button>

  <button type="button" class="btn btn-default btn-md pull-right">
    <span class="glyphicon glyphicon-floppy-saved"></span> Save
  </button>
</div>