
<div ng-repeat="story in stories">
  <div class="media">
    <a class="pull-left thumb">
      <img ng-src="{{story.imageUrl}}">
    </a>
    <div class="media-body">
      <a href="#/stories/{{story._id}}">
        <h4 class="media-heading">{{story.title}}</h4>
      </a>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempsssus viverra turpis. Fusce condimentum nunc ac nisasi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
</div>