<div class="jumbotron">
  <h1>#SWHHG13</h1>
  <p>This was an awesome weekend, with the most important part in it: having a great team. We've had a great time and everybody was pretty happy with our efforts, even without winning something.</p>
  <p>
    <h2>The team:</h2>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Shamma</h4>
        ...
      </div>

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Felix</h4>
        ...
      </div>

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Simon</h4>
        ...
      </div>

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Jan</h4>
        ...
      </div>

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Christopher</h4>
        ...
      </div>

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Norman</h4>
        ...
      </div>

      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64/sky" ng-holder />
      </a>
      <div class="media-body">
        <h4 class="media-heading">Kjellski</h4>
        ...
      </div>
    </div>
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="https://github.com/kjellski/digotales" role="button">Show me the c0d3!</a>
  </p>
</div>